<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coming Soon! | Kyanit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATERIAL SYMBOLS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<%- include('partials/header') %>

	<main>
		<h1><span class="material-symbols-outlined">upcoming</span> Coming Soon!</h1>

		<p>This page is coming soon! Hopefully this will be up as soon as possible. <em>Let me cook 🔥</em></p>

		<button onclick="javascript:openDialog()">Test dialogue</button>
	</main>

	<!-- DIALOG POP UP -->
	<dialog id="dialog-id" aria-labelledby="dialog-title">
		<form method="dialog">
			<div class="dialog-heading">
				<h3 class="dialog-title" id="dialog-title">This is a dialog</h3>
				<p class="dialog-subtitle">Do you want to continue?</p>
			</div>
			<div class="dialog-inputs">
				<div class="input-wrapper">
					<span class="material-symbols-outlined input-icon">person_add</span>
					<label>
						<span class="input-label">First Name</span>
						<input type="text" placeholder="" id="first-name"/>
					</label>
				</div>
				<div class="input-wrapper">
					<label>
						<span class="input-label">Last Name</span>
						<input type="text" id="last-name" placeholder="" required/>
					</label>
				</div>
				<div class="input-wrapper">
					<span class="material-symbols-outlined input-icon">star</span>
					<label>
						<span class="input-label">Rating</span>
						<input type="password" id="password" placeholder=""/>
					</label>
				</div>
			</div>
			<menu>
				<button type="button" class="small secondary" onclick="javascript:closeDialog()">
					<span class="material-symbols-outlined">close</span>
					Cancel
				</button>
				<button type="button" class="small" onclick="javascript:closeDialog()">
					<span class="material-symbols-outlined">check</span>
					Continue
				</button>
			</menu>
		</form>
	</dialog>
</body>
<script>
	const dialog = document.getElementById('dialog-id');

	dialog.addEventListener('animationend', () => {
		if (dialog.classList.contains('opening')) {
			dialog.classList.remove('opening');
		}

		if (dialog.classList.contains('closing')) {
			dialog.classList.remove('closing');
			dialog.close();
		}
	});

	function openDialog() {
		dialog.showModal();
		dialog.classList.add('opening');
	}

	function closeDialog() {
		dialog.classList.add('closing');
	}

	dialog.addEventListener('keydown', event => {
		if (event.key === 'Escape') {
			event.preventDefault();
		}
	});
</script>
</html>