<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kyanit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATERIAL SYMBOLS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/css/partials/note-card.css">
</head>
<body>
	<%- include('partials/header') %>

	<main>
		<h1><span class="material-symbols-outlined">local_fire_department</span> Trending Notes</h1>

		<div class="note-card-small-container">
			<% for(let i = 0; i < trendingNotes.length; i++) { %>
				<% const note = trendingNotes[i]; %>
				<%- include('partials/note-card-small', { note }) %>
			<% } %>
		</div>

		<div style="text-align: center;">
			<a href="/explore">
				<button class="large secondary"><span class="material-symbols-outlined">local_fire_department</span> Explore Trending</button>
			</a>
		</div>

		<h1><span class="material-symbols-outlined">schedule</span> Newly Published</h1>

		<div class="note-card-small-container">
			<% for(let i = 0; i < newNotes.length; i++) { %>
				<% const note = newNotes[i]; %>
				<%- include('partials/note-card-small', { note }) %>
			<% } %>
		</div>

		<div style="text-align: center;">
			<a href="/explore">
				<button class="large secondary"><span class="material-symbols-outlined">schedule</span> Explore New</button>
			</a>
		</div>

		<% if(isLoggedIn) { %>
			<h1><span class="material-symbols-outlined">docs</span> Your Notes</h1>

			<div class="note-card-small-container">
				<% for(let i = 0; i < userNotes.length; i++) { %>
					<% const note = userNotes[i]; %>
					<%- include('partials/note-card-small', { note }) %>
				<% } %>
			</div>
		<% } %>
	</main>
</body>
</html>