@import url("/css/modules/prism-light.min.css") (prefers-color-scheme: light);
@import url("/css/modules/prism-dark.min.css") (prefers-color-scheme: dark);
@import url("/css/fonts/cascadia-mono/font.css");

main {
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
}

/* DEPRECATED-------------------------------------------*/
/* #context-menu {
	display: flex;
  opacity: 0;
  touch-action: none;
  pointer-events: none;
  user-select: none;
  
  font-weight: 300;
  gap: 2px;
	position: fixed;
	flex-flow: column;
	flex-shrink: 0;
	padding: 10px 0;
	border-radius: 10px;
	background: #333333;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 30%);
  max-width: 200px;
  transition: opacity 100ms ease, max-width 500ms ease;
}
#context-menu[data-displayed="true"] {
  opacity: 1;
  touch-action: auto;
  pointer-events: auto;
}

#context-menu * {
	color: white;
  font-size: 0.8em;
}

#context-menu > * {
	padding: 2px 20px;
	cursor: pointer;
	white-space: nowrap;
}
#context-menu > *:hover {
	background: rgba(255, 255, 255, 15%);
}

#selected-information {
	display: flex;
	gap: 15px;
}
#selected-information > * {
	font-size: 0.8rem;
	opacity: 70%;
}
#selected-information #id {
  text-overflow: ellipsis;
  overflow: hidden;
}
#context-menu:has(#selected-information:hover) {
  max-width: 100%;
} */
/*------------------------------------------------------*/

#tools {
	display: flex;
	flex: 0 0 30px;
	padding: 5px;
	border-bottom: 1px solid var(--tools-border-color);
}

#tools-left, #tools-right {
	display: flex;
	flex: 1 0 auto;
}
#tools-right {
	flex-flow: row-reverse;
}

*:has(> #insert-bold) {
	margin-left: 10px;
}

#title {
	flex: 0 1 30px;
  resize: none;
  background: none;
	text-align: center;
  border: none;
	border-bottom: 1px solid transparent;
}
#title:hover {
	border-bottom: 1px solid var(--tools-border-color);
}
#title:focus {
	outline: none;
	border-bottom: 1px dashed var(--tools-border-color);
}
body:has(header[data-display="false"]) #title {
	margin-top: 10px;
}

#tools-left > *,
#tools-right > * {
	display: grid;
	place-items: center;
  -webkit-aspect-ratio: 1;
	aspect-ratio: 1;
	flex: 0 0 auto;

	cursor: pointer;
	
	-webkit-user-select: none;
	user-select: none;
  border-radius: 3px;
}
#tools-left > *:hover, #tools-right > *:hover {
	background: var(--tools-hover-background);
}

#editor-wrapper {
  display: grid;
  flex: 1 0 0;
  background: var(--editor-background);
  overflow: auto;
}

#editor-wrapper * {
  font-family: "Cascadia Mono", monospace !important;
  font-variant-ligatures: none !important;
}

#editor-input, #editor-wrapper pre {
  background: transparent;
  font-size: 1rem;
  tab-size: 4;
  margin: 0;
	padding: 15px 30px;
  text-wrap: nowrap;
  white-space: pre;
  outline: none !important;
  line-height: 180%;
  
  grid-column-start: 1;
  grid-row-start: 1;
}

#editor-input {
  color: transparent;
  display: block;
  border: none;
  caret-color: var(--text-color);
  resize: none;
}

#editor-view, #editor-view * {
  background: transparent;
  font-size: 1rem;
  text-shadow: none !important;
}
pre, pre * {
  color: unset;
}

#visibility[data-visible="true"] .fa-eye {
	display: block;
}
#visibility[data-visible="true"] .fa-eye-slash {
	display: none;
}

#visibility[data-visible="false"] .fa-eye {
	display: none;
}
#visibility[data-visible="false"] .fa-eye-slash {
	display: block;
}

@media only screen and (max-width: 500px) {
	abbr:has(#insert-strikethrough, #insert-code, #insert-math) {
		display: none;
	}
}