.meta-data {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.meta-data .title {
	font-family: var(--font-family--heading);
	font-stretch: extra-condensed;
	font-size: 3.05em;
}

.meta-data .details {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1em;
}

.meta-data .author-date {
	display: flex;
	gap: 4px;
	align-items: center;
}

.meta-data .author {
	font-weight: 600;
}

.meta-data .date {
	color: var(--text-mute);
}

.meta-data .author-date > :not(:first-child)::before {
	content: '· ';
}

.meta-data .statistic {
	color: var(--text-mute);
	display: flex;
	gap: 8px;
}

.meta-data .statistic > :not(:first-child)::before {
	content: '·';
	margin-right: 4px;
}

.meta-data .statistic > span {
	display: flex;
	align-items: center;
	gap: 4px;
}

.meta-data .thumbnail img {
	aspect-ratio: 5/4;
	width: 100%;
	border-radius: 1em;
	object-fit: cover;
}


hr.meta-content-separator {
	margin: 2em 0;
	border-bottom: 1px solid var(--border);
}