@layer components;

/** BUTTON */
button {
	display: inline-flex;
	align-items: center;
	border: none;
	margin: 0;
	gap: 4px;
	border-radius: 8px;
	cursor: pointer;
	transition-property: scale, rotate;
	transition-duration: var(--transition-duration);
	transform-origin: 50% 50%;
	border: 1px solid var(--primary);

	/* MEDIUM */
	font: var(--font--button--m);
	padding: 0 16px;
	height: 40px;

	/* PRIMARY */
	background: var(--primary);
	color: var(--background);
}

button.secondary {
	background: transparent;
	color: var(--primary);
}

button.tertiary {
	background: transparent;
	color: var(--primary);
	border: none;
}

button.small {
	font: var(--font--button--s);
	padding: 0 12px;
	height: 32px;
}
button.large {
	font: var(--font--button--l);
	padding: 0 20px;
	height: 48px;
}

button span.material-symbols-outlined { font-size: 22px; }
button.small span.material-symbols-outlined { font-size: 19px; }
button.large span.material-symbols-outlined { font-size: 25px; }

button:enabled:focus-visible {
	outline: 2px dashed var(--primary) !important;
	border: 1px solid transparent;
}
button:enabled:hover { scale: 102%; }
button:enabled:active { scale: 98%; }

button.icon {
	justify-content: center;
	width: 40px;
}
button.icon.small { width: 32px; }
button.icon.large { width: 48px; }

button:disabled {
	filter: saturate(20%);
	cursor: not-allowed;
}

button.destructive {
	--primary: var(--error);
}

/*- FAB */
button.fab {
	position: absolute;
	width: 3.5em;
	height: 3.5em;
	border-radius: 1em;
	padding: 1em;
	box-shadow: 1px 0 8px 0 hsl(from var(--text) h s l / 20%);
	border-width: 0;
}

button.fab span.material-symbols-outlined {
	font-size: 1.5em;
}