:root {
  --top-navigation-height: 64px;
}

header {
	position: sticky;
	top: 0px;
  z-index: 100;
}

#top-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0; padding: 0 16px;
  gap: 16px;
  height: var(--top-navigation-height);
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-mute);
	backdrop-filter: blur(50px);
  color: var(--text);
}

#top-navigation span.material-symbols-outlined {
  font-size: 32px;
  cursor: pointer;
}

#top-navigation li {
  display: flex;
}

#top-navigation[data-search="false"] #search-wrapper {
  display: none;
  visibility: hidden;
}
#top-navigation[data-search="true"] #logo {
  display: none;
  visibility: hidden;
}
#top-navigation[data-search="true"] #search-button {
  display: none;
  visibility: hidden;
}

#top-navigation:has(#search-input:placeholder-shown) #search-submit {
  display: none;
  visibility: hidden;
}

#search-wrapper {
  display: flex;
  padding: 0 12px;
  gap: 12px;
  height: 48px;
  align-items: center;
  flex: 1 0 auto;
  background: var(--background-accent);
  border-radius: 8px;
}

#search-wrapper span.material-symbols-outlined {
  font-size: 24px;
  color: var(--text-mute);
}

#search-input {
  background: none;
  outline: none !important;
  border: none;
  font: var(--font--button--l);
  font-weight: 400;
  flex: 1 1 auto;
}

#logo {
  flex: 1 0 auto;
}

#logo a {
  display: flex;
}

#top-navigation .profile {
  text-decoration: none;
}

#top-navigation .action {
  transition: scale var(--transition-duration);
} #top-navigation .action:hover {
  scale: 102%;
} #top-navigation .action:active {
  scale: 98%;
}

/** SIDE NAVIGATION */
aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--background);
  border-right: 1px solid var(--border-mute);
  width: 100%;
  max-width: 300px;
  top: 0; bottom: 0;
  left: 0;
  padding: 16px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
  z-index: 200;
}

aside.open {
  transform: translateX(0);
}

aside #close-sidebar {
  display: flex;
  font-family: "HD Colton";
  font-size: 1.524em;
  align-items: baseline;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}

aside #close-sidebar span.material-symbols-outlined {
  align-self: center;
  font-size: 1.3125em;
  transition: scale var(--transition-duration);
} aside #close-sidebar span.material-symbols-outlined:hover {
  scale: 102%;
} aside #close-sidebar span.material-symbols-outlined:active {
  scale: 98%;
}

span.open-in-new {
  font-size: 1em;
  color: var(--text-mute);
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1 0 0;
  overflow-y: auto;
}

.sidebar-item {
  font-weight: 600;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  gap: 1em;
  color: inherit;
  padding: 0 1em;
  border-radius: 8px;
  text-decoration: none;
  transition: scale var(--transition-duration);
  height: 40px;
} .sidebar-item a:hover {
  background-color: var(--background-accent);
} .sidebar-item a:active {
  scale: 98%;
}

.sidebar-item .label {
  flex: 1 1 auto;
}

.sidebar-navigation hr {
  margin-block: 0.5em;
}

/* Nested List */
.sidebar-navigation .sidebar-navigation {
  margin-left: 2em;
}

.sidebar-navigation .sidebar-navigation .sidebar-item {
  font-weight: 400;
}

.sidebar-footer {
  color: var(--text-mute);
}

.sidebar-footer .name {
  text-align: center;
  font-family: monospace;
}