<!DOCTYPE html>
<html lang="en">
<head>
	<title>Layout Test | Kyanit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATERIAL SYMBOLS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<%- include('partials/header') %>
	<main>
		<h1><span class="material-symbols-outlined">schedule</span> Newly Published</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quo dicta cum deleniti sint placeat numquam consequatur minima beatae recusandae a similique, magni architecto repellendus voluptatum molestiae temporibus. Dolore, tenetur.</p>

		<h2><span class="material-symbols-outlined">skip_next</span> Next Head <a href="#" class="link"><span class="material-symbols-outlined">link</span></a></h2>

		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptate laudantium ipsa pariatur delectus eligendi commodi molestias perferendis hic! Corporis.</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eligendi voluptatem est totam at nulla consectetur quibusdam, quis ut in! Iste accusantium veritatis eos necessitatibus.</p>

		<h2><span class="material-symbols-outlined">punch_clock</span> Second Head</h2>

		<p>Types of bullshits.</p>

		<h3><span class="material-symbols-outlined">counter_1</span> Lorem ipsum dolor sit amet.</h3>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, maiores!</p>

		<h3><span class="material-symbols-outlined">counter_2</span> Lorem ipsum dolor sit.</h3>

		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos cum soluta quisquam quas accusantium autem?</p>

		<h3><span class="material-symbols-outlined">counter_3</span> Lorem ipsum dolor sit amet consectetur.</h3>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

		<h1>New Types</h1>

		<h2>Lorem ipsum dolor sit.</h2>

		<h3>Lorem, ipsum dolor.</h3>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quis asperiores quaerat nam optio ex beatae cum illo reprehenderit. Aliquam.</p>

		<h4><span class="material-symbols-outlined">stairs</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, beatae!</h4>

		<h5><span class="material-symbols-outlined">link</span> Lorem ipsum dolor sit amet consectetur adipisicing.</h5>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eius.</p>

		<h6><span class="material-symbols-outlined">headphones</span> Subject 1 Lorem, ipsum dolor.</h6>

		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, dolore. Nostrum quidem, ex provident iusto sed voluptatem voluptatibus a pariatur?</p>

		<h6>Subject 2 Lorem ipsum dolor sit.</h6>

		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis doloremque ex quaerat. Quas amet consectetur fuga repudiandae. Assumenda ea quod minus nemo fugiat? Temporibus impedit voluptates voluptate ipsum!</p>
	</main>
</body>
</html>